@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(66, 81, 236), rgb(248, 58, 176));
    padding-bottom: 20px;
}

section .app_name {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 5px;
    padding: 10px;
    font-family: 'Lobster', cursive;
}
